<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Inter\HealthCheck\Api\HealthCheckInterface"
                 type="Inter\HealthCheck\Model\HealthCheck"/>


    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="inter_health_check" xsi:type="object">Inter\HealthCheck\Console\Command\HealthCheckCommand</item>
            </argument>
        </arguments>
    </type>
</config>
